.tag {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5px;
    border-radius: 20px;
}

.s {
    font-size: 12px;
    line-height: 12px;
    padding: 5px 12px;
}

.m {
    font-size: 14px;
    line-height: 14px;
    padding: 5px 12px;
}

.ghost {
    border: 1px solid $gray-light;
}

.red {
    font-weight: 600;
    color: $white;
    background-color: #DE0000;
}

.grey {
    font-weight: 600;
    color: $white;
    background-color: #B3C0D9;
}

.green {
    font-weight: 600;
    color: $green;
    background-color: $green-light;
}

.primary {
    color: $primary;
    background-color: transparent;
    border: 1px solid $gray-light;
}