.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
}

.primary {
    color: $white;
    background-color: $primary;
}

.ghost {
    color: $black;
    background-color: none;
    border: 1px solid $gray;
}